.features-section {
  padding: 1rem 1.25rem; /* 2.5rem arriba y abajo, 1.25rem a los lados*/
  background-color: white;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-top: 1.5rem;
}

.features-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.875rem;
}

.features-img img {
  width: 100%;
  height: auto; /*Mantiene proporción */
  object-fit: contain; /*Se ajusta al contenedor sin deformarse.*/
}

/* Contenido */
.features-content {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /*Alinea todo a la izquierda*/
}

.features-title {
  font-family: "Crimson Text", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #212529;
  margin-bottom: 1.25rem;
  line-height: 1.25;
}

.features-text {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9375rem;
  color: #21252980;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* Botón */
.features-button-box {
  display: flex;
  justify-content: flex-start;
}

.features-button {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  padding: 1rem;
  border-radius: 0.3125rem;
  text-decoration: none;
  background-color: #212529;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features-button:hover {
  /*Para dar sensación de interacción*/
  background-color: #343a40;
}
@media (min-width: 1200px) {
  .features {
    flex-direction: row;
    justify-content: space-between; /*Reparte imagen y texto*/
    gap: 3rem;
    margin: 1.25rem 3.75rem 0rem 3.75rem;
  }
  .features-content {
    width: 45%;
    max-width: none; /*Quitamos el límite de versión movil*/
  }
  .features-img {
    width: 45%; /*Imagen ocupa el 45% del contenedor .features.*/
  }
  .features-img img {
    width: 100%;
  }
  .features-title {
    font-size: 2rem;
  }
  .features-text {
    font-size: 1.125rem;
  }
  .features-button {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
  }
  .features-2 {
    flex-direction: row-reverse;
  }
}
