.footer-icons {
    background-color: #74c69dc0;
    display: flex;
    /* elemento flexible*/
    flex-direction: column;
    /* para iconos y texto*/
    align-items: center;
    padding: 3rem
        /*espacio relleno*/
}


.social-media {
    display: flex;
    justify-content: center;
    /*coloca los iconos*/
    gap: 1.5rem;
    /*espacio entre iconos*/

}

.copyright {
    font-family: "Work Sans";
    font-weight: normal;
    line-height: 1.25;
    color: white;
    padding-top: 0.5rem;
    /*relleno por encima*/
    font-size: 20px;

}

/* @media queris*/
@media all and (min-width: 1200px) {
    .footer-icons {

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6rem;

    }

    .social-media {
        /* elemento flexible*/
        align-self: flex-start;

    }


    .copyright {
        align-self: flex-end;
    }

}