.footer-icons {
    font-weight: 500;
    background-color: #74c69dc0;
    display: flex;
    justify-content: center;
    gap: 4rem;

}

.social-media {
    display: flex;
    text-align: center;
}

.copyright {
    color: white;
    flex-direction: column;
}