.hero-section {
  background-color: #74c69d;
}

.hero {
  background-color: #74c69d;
  color: white;
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img img {
  width: 335px;
  height: 197px;
  margin-bottom: 20px;
}

.welcome {
  flex-grow: 0;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 5px;
  text-align: left;
  color: #fff;
  margin-bottom: 15px;
}

.hero-title {
  color:white;
  display:flex;
  flex-direction: column;
  font-family: "Crimson Text", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-text {
  color: #ffffffc0;
  font-weight: normal;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.hero-button {
  width: 100%; 
  display: flex;
  justify-content: flex-start;
}

.hero-button a {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  width: 170px;
  height: 48px;
  padding: 13px 45.5px 10px 44.5px;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 1.5625rem;
  border: none;
  text-decoration: none;
}


@media (min-width: 1200px) {
  
  .hero {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 30px 120px;
      gap: 120px;
  }
  
  .hero-img {
    display: flex;
    align-items: center;
    width: 45%;
  }

  .hero-img img {
    width: 100%;
    height: auto;
  }

  .hero-text {
    width: 416px;
    height: 299px;
}
  
}
